.header_div
{
    background: rgb(230, 175, 225);
    color:rgb(132, 72, 180);
}

.header_div q{
    font-family: 'Roboto', sans-serif;
    color: rgb(182, 18, 18);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button
{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: rebeccapurple;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aliceblue;
    line-height: 3;
    text-align: 3;
    text-align: center;
    text-shadow: 5px 5px 5px plum;
}